:root {
  /* Box */
  --boxGap: 0.5rem;

  /* Label */
  --selectLabelMarginBottom: 0.125rem;
  --selectLabelFontSize: 0.875rem;
  --selectLabelFontWeight: 700;
  --selectLabelOpacity: 0.7;

  /* Select */
  --selectPadding: 1rem 0.875rem;
  --selectWidth: 20rem;
  --selectFontSize: 1rem;
  --selectBorderWidth: 0.125rem;
  --selectFocusBorderColor: var(--colorInfo);
  --selectErrorBorderColor: var(--colorAlert);

  /* Common */
  --selectBorderRadius: 0.4rem;
  --selectLineHeight: 1;
}

.box {
  display: flex;
  flex-direction: column;
  gap: var(--boxGap);
  width: var(--selectWidth);
}

.label {
  margin-bottom: var(--selectLabelMarginBottom);
  font-size: var(--selectLabelFontSize);
  font-weight: var(--selectLabelFontWeight);
  line-height: var(--selectLineHeight);
  color: var(--colorTextPrimary);
  opacity: var(--selectLabelOpacity);
}

.select {
  padding: var(--selectPadding);
  background: transparent;
  border-width: var(--selectBorderWidth);
  border-radius: var(--selectBorderRadius);
  border-color: var(--colorTextPrimary);
  border-style: solid;
}

.option {
  appearance: none;
  padding: var(--selectPadding);
  line-height: var(--selectLineHeight);
  border-radius: var(--selectBorderRadius);
  color: var(--colorTextPrimary);
  cursor: pointer;
}

.option:hover {
  background-color: var(--colorGrayPrimary);
}

.option:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
