:root {
  /* Box */
  --boxDirection: row;
  --boxGap: 0.5rem;

  /* Label */
  --labelColor: var(--colorTextPrimary);
  --labelOrder: 0;

  /* Checkbox */
  --checkboxWidth: 1.5rem;
  --checkboxHeight: 1.5rem;
  --checkboxBorderRadius: 0.4rem;
  --checkboxBorderWidth: 0.125rem;
  --checkboxBorderColor: var(--colorTextPrimary);
  --checkboxBorderHoverColor: var(--colorTextTertiary);
}

/* Color */
.primary {
  --labelColor: var(--colorTextPrimary);
  --checkboxBorderColor: var(--colorTextPrimary);
  --checkboxBorderHoverColor: var(--colorTextTertiary);
}

.info {
  --labelColor: var(--colorInfo);
  --checkboxBorderColor: var(--colorInfo);
  --checkboxBorderHoverColor: var(--colorInfoHover);
}

.success {
  --labelColor: var(--colorSuccess);
  --checkboxBorderColor: var(--colorSuccess);
  --checkboxBorderHoverColor: var(--colorSuccessHover);
}

.warning {
  --labelColor: var(--colorWarning);
  --checkboxBorderColor: var(--colorWarning);
  --checkboxBorderHoverColor: var(--colorWarningHover);
}

.error {
  --labelColor: var(--colorAlert);
  --checkboxBorderColor: var(--colorAlert);
  --checkboxBorderHoverColor: var(--colorAlertHover);
}

/* Label Position */
.top {
  --labelOrder: 0;
  --boxDirection: column;
}

.right {
  --labelOrder: 1;
  --boxDirection: row;
}

.bottom {
  --labelOrder: 1;
  --boxDirection: column;
}

.left {
  --labelOrder: 0;
  --boxDirection: row;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: var(--boxDirection);
  gap: var(--boxGap);
}

.label {
  order: var(--labelOrder);
  color: var(--labelColor);
}

.checkbox {
  position: relative;
  width: var(--checkboxWidth);
  height: var(--checkboxHeight);
  appearance: none;
  border: none;
  border-radius: var(--checkboxBorderRadius);
  box-shadow: 0 0 0 var(--checkboxBorderWidth) var(--checkboxBorderColor) inset;
  cursor: pointer;
}

/* Checkmark */
.checkbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 8px;
  top: 2px;
  width: 7px;
  height: 14px;
  border: solid var(--checkboxBorderColor);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Display checkmark when checked */
.checkbox:checked::after {
  display: block;
}

.checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
