:root {
  --modalWidth: 20rem;
  --modalBorderColor: var(--colorInfo);
  --modalBorderRadius: 0.4rem;
  --modalInnerBackground: var(--colorWhitePrimary);
  --modalOuterBackground: var(--colorGrayPrimary);
  --modalColor: var(--colorTextPrimary);
}

.modal {
  width: var(--modalWidth);
  height: fit-content;
  border: 0.125rem solid var(--modalBorderColor);
  border-radius: var(--modalBorderRadius);
  background: rgba(from var(--modalInnerBackground) r g b / 1);
  color: var(--modalColor);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
