:root {
  --textFieldPadding: 1rem 0.875rem;
  --textFieldWidth: 20rem;
  --textFieldFontSize: 1rem;
  --textFieldBorderWidth: 0.125rem;
  --textFieldBorderRadius: 0.4rem;
  --textFieldFocusColor: var(--colorInfo);
  --textFieldErrorColor: var(--colorAlert);
  --textFieldLineHeight: 1;
}

.textField {
  appearance: none;
  background: transparent;
  padding: var(--textFieldPadding);
  font-size: var(--textFieldFontSize);
  line-height: var(--textFieldLineHeight);
  border-width: var(--textFieldBorderWidth);
  border-radius: var(--textFieldBorderRadius);
  border-color: var(--colorTextPrimary);
  border-style: solid;
  color: var(--colorTextTertiary);
  outline: none !important;
  box-shadow: none;

  transition: 100ms ease border-color;
}

.textFieldFocused {
  border-color: var(--textFieldFocusColor);
}

.textFieldError {
  border-color: var(--textFieldErrorColor);
}

.labelFocused {
  color: var(--textFieldFocusColor);
}

.labelError {
  color: var(--textFieldErrorColor);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
