:root {
  --labelFontSize: 0.875rem;
  --labelFontWeight: 700;
  --labelLineHeight: 1;
}

.label {
  font-size: var(--labelFontSize);
  font-weight: var(--labelFontWeight);
  line-height: var(--labelLineHeight);
  cursor: pointer;
}

.label.required::after {
  display: inline;
  content: '*';
  margin-left: 0.0625rem;
  margin-right: 0.1875rem;
  color: var(--colorAlert);
}
